/* Error: expected "{".
 *    ,
 * 57 |   font-size: 0.5em;
 *    |                   ^
 *    '
 *   src/styles/App.scss 57:19  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 57 \2502    font-size: 0.5em;\a    \2502                    ^\a    \2575 \a   src/styles/App.scss 57:19  root stylesheet';
}
