.body {
  background-image: url("../assets/backgrounds/5.jpg");
  background-size: cover;
  height: 100vh;
  font-family: "Hind Guntur", sans-serif;
  display: flex;
  justify-content: space-around;
}

.main-container {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  background-color: #feded7;
  width: 50%;
  border: 10px #ddbbd5 solid;
  border-radius: 1%;
  padding: 20px;
  margin-top: 50px;
}

.home {
  padding: 50px;
}

.text-container {
  margin-left: 8px;
}

.logo-text {
  font-size: -webkit-xxx-large;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}

.blurb {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 25px;
}

.pomodoro {
  font-size: 6em;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
  display: block;
}

.circular-progress-bar {
  display: inline-block;
  justify-content: center;
  color: #ddbbd5;
  margin-top: 25px;
}

#dropdown-basic-button {
  background-color: #3e98c7;
  border-color: #3e98c7;
  border-radius: 15px;
  font-family: "Hind Guntur", sans-serif;
  height: 35px;
}

.timer-container {
  height: 70%;
}

.dropdown {
  font-family: "Hind Guntur", sans-serif;
}

.about-text-container {
  margin-left: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

.about-text {
  font-family: "Hind Guntur", sans-serif;
  font-size: large;
  padding-top: 35px;
}

.about {
  height: 70%;
}

.about-header {
  padding-top: 25px;
}

.main-navbar {
  padding-top: 30px;
  padding-bottom: 1rem;
  padding-left: 50px;
  font-family: "Hind Guntur", sans-serif;
  background-color: #ddbbd5 !important;
  font-size: larger;
}

.nav-main-link {
  color: black;
}
.nav-main-link:hover {
  color: black;
}

.pets-container {
  height: 65%;
}

.card-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  padding-top: 50px;
}

.card-text {
  font-family: "Hind Guntur", sans-serif;
  padding-top: 10px;
}

.pet-button {
  font-family: "Hind Guntur", sans-serif;
  background-color: #4D90CC !important;
  border-color: #4D90CC;
  height: 35px;
  border-radius: 15px;
}
.pet-button:hover .pet-button:focus {
  background-color: #4D90CC !important;
  border-color: #4D90CC !important;
}

.pets-display {
  display: flex;
  margin-top: 50px;
}

.pets {
  padding-top: 35px;
}

.card {
  background-color: transparent;
  border-color: transparent;
}

.pets-form {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Hind Guntur", sans-serif;
}

.pet-card-timer {
  height: 40%;
}

.timer-pet-container {
  display: flex;
}

.login-h1, .register-h1, .chart-h1 {
  text-align: center;
}

.login {
  height: 50%;
  width: 30%;
}

.register {
  height: 55%;
  width: 30%;
}

.login-form {
  margin-top: 25px;
  font-family: "Hind Guntur", sans-serif;
  margin-left: 25%;
}

.register-form {
  margin-top: 25px;
  font-family: "Hind Guntur", sans-serif;
  margin-left: 20%;
}

.login-tagline, .register-tagline {
  font-family: "Hind Guntur", sans-serif;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  color: #4D90CC;
}
.login-tagline:first-of-type, .register-tagline:first-of-type {
  margin-top: 35px;
  margin-bottom: 0px;
}
.login-tagline:last-of-type, .register-tagline:last-of-type {
  margin-bottom: 35px;
}

.login-form-input {
  width: 65%;
}

.register-form-input {
  width: 75%;
}

.pie-chart {
  margin-left: auto;
  margin-right: auto;
  height: 525px;
  width: 525px;
}

.chart-h1 {
  margin-bottom: 25px;
}

.chart-blurb {
  font-family: "Hind Guntur", sans-serif;
  font-size: larger;
}

.chart-container {
  height: 70%;
}

.button-div {
  padding-left: 25rem;
}

.login-button {
  background-color: #453750;
  text-decoration: none;
  font-family: "Hind Guntur", sans-serif !important;
  color: white;
  border-color: #453750;
  border-width: 2px;
  border-radius: 15px;
  height: 35px;
}
.login-button:hover {
  background-color: #4D90CC !important;
  border-color: #4D90CC;
  color: white;
}
.login-button:link {
  font-family: "Hind Guntur", sans-serif !important;
}

.register-button {
  background-color: #4D90CC;
  text-decoration: none;
  font-family: "Hind Guntur", sans-serif !important;
  color: white;
  border-color: #4D90CC;
  border-width: 2px;
  border-radius: 15px;
  height: 35px;
  margin-left: 10px;
}
.register-button:hover {
  background-color: #453750 !important;
  border-color: #453750;
  color: white;
}

.start-button {
  display: inline;
  align-items: center;
  border-radius: 15px;
  margin: 2.5rem;
  font-size: large;
  background-color: #3e98c7;
  font-family: "Hind Guntur", sans-serif;
  height: 35px;
}

.reset-button {
  display: inline;
  align-items: center;
  border-radius: 15px;
  margin: 2.5rem;
  font-size: large;
  font-family: "Hind Guntur", sans-serif;
  height: 35px;
}

.egg {
  margin-top: 5rem;
  animation: wiggle 1s linear infinite;
}
.egg :after {
  animation: anti-wiggle 1s linear infinite;
}

@keyframes wiggle {
  20% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-14deg);
  }
  60% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }
  40% {
    transform: translateX(-8px) rotate(14deg);
  }
  60% {
    transform: translateX(2px) rotate(-4deg);
  }
  80% {
    transform: translateX(-1px) rotate(2deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
.register-page-button {
  margin-left: 0px;
}

/*# sourceMappingURL=App.css.map */
