// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

$text-font: 'Hind Guntur', sans-serif;
$logo-font: 'Josefin Sans', sans-serif;
$subheader-font: 'Mada', sans-serif;