$logo-font: 'Josefin Sans', sans-serif;
$subheader-font: 'Mada', sans-serif;
$text-font: 'Hind Guntur', sans-serif;

$nav-bar: #ddbbd5;
$main-background: #feded7;
$login-button-color: #453750;
$register-button-color: #4D90CC;
$progress-bar-color: #3e98c7;