@import "./variables";

.body {
  background-image: url("../assets/backgrounds/5.jpg");
  background-size: 100%;
  height: 100vh;
  font-family: $text-font;
  display: flex;
  justify-content: space-around;
}

.home-main-container {
  font-family: $logo-font;
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  background-color: $main-background;
  width: 50%;
  border: 10px $nav-bar solid;
  border-radius: 1%;
  padding: 50px;
  margin-top: 50px;
}

.main-container {
  font-family: $logo-font;
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  background-color: $main-background;
  width: 50%;
  border: 10px $nav-bar solid;
  border-radius: 1%;
  padding: 20px;
  margin-top: 50px;
}

.subheader {
  font-family: $subheader-font;
}

.main-navbar {
  padding-top: 30px;
  padding-bottom: 1rem;
  padding-left: 50px;
  font-family: $text-font;
  background-color: $nav-bar !important;
  font-size: larger;
}

// .logo-header {
//   font-family: $logo-font;
// }

.pomodoro {
  font-size: 6em;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}

.text-container {
  margin-left: 8px;
  // padding-top: 55px;
}

.about-text-container {
  margin-left: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

.about-text {
  font-family: $text-font;
  font-size: large;
  padding-top: 10px;
}

.logo-text {
  font-size: -webkit-xxx-large;
  font-family: $logo-font;
  font-weight: bolder;
  padding-top: 25px;
}

.blurb {
  font-family: $logo-font;
  padding-top: 25px;
}

// buttons

.button-div {
  padding-left: 30rem;
}

.login-button {
  background-color: $login-button-color;
  color: white;
  &:hover {
    background-color: $register-button-color !important;
    border-color: $register-button-color;
  }
  border-color: $register-button-color;
  border-width: 2px;
  border-radius: 15px;
  height: 35px;
}

.register-button {
  background-color: $register-button-color;
  color: white;
  &:hover {
    background-color: $login-button-color !important;
    border-color: $login-button-color;
  }
  border-color: $login-button-color;
  border-width: 2px;
  border-radius: 15px;
  height: 35px;
  margin-left: 10px;
}

// egg animations
.egg {
  margin-top: 5rem;
  animation: wiggle 1s linear infinite;
  :after {
    animation: anti-wiggle 1s linear infinite;
  }
}

@keyframes wiggle {
  20% {
    transform: rotate(7deg);
  }

  40% {
    transform: rotate(-14deg);
  }

  60% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }

  40% {
    transform: translateX(-8px) rotate(14deg);
  }

  60% {
    transform: translateX(2px) rotate(-4deg);
  }

  80% {
    transform: translateX(-1px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
