@import "./variables";

.body {
  // background-image: url("../assets/backgrounds/5.jpg");
  position: relative;
  background-size: cover;
  height: 100vh;
  font-family: $text-font;
  color: var(--textColor);
  display: flex;
  justify-content: space-around;
}

.body:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/backgrounds/5.jpg");
  background-size: cover;
  filter: var(--lightsOut);
  transition: 1000ms;
}

// ---------------------------- HOME PAGE ---------------------------- //

.main-container {
  font-family: $logo-font;
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  background-color: var(--backgroundColor);
  width: 50%;
  border: 10px var(--navBar) solid;
  border-radius: 1%;
  padding: 20px;
  margin-top: 50px;
  transition: 1000ms;
}

.home {
  // main container on homepage
  padding: 50px;
}

.text-container {
  // container / div for text on home page
  margin-left: 8px;
}

.logo-text {
  // main "PomoPets" on homepage, header on all other pages
  font-size: -webkit-xxx-large;
  font-family: $logo-font;
  font-weight: bolder;
  padding-top: 25px;
}

.blurb {
  // 2 p tags on homepage
  font-family: $logo-font;
  padding-top: 25px;
}

// ---------------------------- NAV BAR ---------------------------- //

.main-navbar {
  // navbar stylings
  padding-top: 30px;
  padding-bottom: 1rem;
  padding-left: 50px;
  font-family: $text-font;
  color: var(--navBarText) !important;
  background-color: var(--navBar) !important;
  transition: 1000ms;
  font-size: larger;
 
}

.nav-main-link {
  // PomoPets home link in nav bar
  color: var(--navMainLink) !important;
  &:hover {
    color: var(--navMainLink) !important;
  }
}

.nav-other-links { // other links in nav bar
  color: var(--navOtherLink) !important;
}

.test > a {
  color: var(--navOtherLink) !important;
}

.logout-nav {
  // spacing for edit user link
  padding-left: 15px !important;
}

.light-bulb {
  padding-bottom: 10px;
}

// ---------------------------- TIMER ---------------------------- //

.pomodoro {
  // timer
  font-size: 6em;
}

// break message
.message {
  // timer message
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
  display: block;
}

// circular-progress-bar for timer
.circular-progress-bar {
  display: inline-block;
  justify-content: center;
  color: var(--navBar);
  margin-top: 25px;
}

#dropdown-basic-button {
  background-color: $progress-bar-color;
  border-color: $progress-bar-color;
  border-radius: 15px;
  font-family: $text-font;
  height: 35px;
}

.timer-container {
  height: 70%;
  width: 45%;
}

.dropdown {
  font-family: $text-font;
}

// ---------------------------- ABOUT PAGE ---------------------------- //

.about-text-container {
  // container - increase padding and margin for about text
  margin-left: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

.about-text {
  // all text on about page
  font-family: $text-font;
  font-size: large;
  padding-top: 35px;
}

.about {
  // main text container for about page, make longer to accommodate text overflow
  height: 70%;
}

.about-header {
  //h1 "what is the pomodoro technique"
  padding-top: 25px;
}

// ---------------------------- PETS ---------------------------- //

.pets-container {
  height: 65%;
}

.card-title {
  // pet name
  font-family: $logo-font;
  font-weight: bolder;
  padding-top: 50px;
}

.card-text {
  font-family: $text-font;
  padding-top: 10px;
}

.pet-button {
  // "choose your pet" and "submit"
  font-family: $text-font;
  background-color: $register-button-color !important;
  border-color: $register-button-color;
  &:hover &:focus {
    background-color: $register-button-color !important;
    border-color: $register-button-color !important;
  }
  height: 35px;
  border-radius: 15px;
}

.pets-display {
  display: flex;
  margin-top: 50px;
}

.pets {
  padding-top: 35px;
}

.card {
  background-color: transparent;
  border-color: transparent;
}

.pets-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets-form {
  // name your pet input box
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $text-font;
}

.pets-form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// egg to pet animations on pets page
.single-pet {
  // parent
  position: relative;
  height: 200px;
  width: 200px;
  .petimg {
    //child
    // border: 2px solid red;
    opacity: 0;
    top: 0;
    position: absolute;
    transition: 1000ms;
    transform: scale(0.1);
  }
  .eggimg {
    //child
    // border: 2px solid purple;
    opacity: 1;
    top: 0;
    position: absolute;
    transition: 1000ms;
  }
  &:hover {
    .petimg {
      // border: 2px solid purple;
      opacity: 1;
      transform: scale(1);
    }
    .eggimg {
      // border: 2px solid red;
      opacity: 0;
      transform: scale(1.5);
    }
  }
}
// ---------------------------- PET ON TIMER PAGE ---------------------------- //
.pet-card-timer {
  height: 40%;
}

.pet-timer {
  position: fixed;
  left: 1300px;
  top: 600px;
}

.pet-timer-pet-title {
  padding-left: 70px;
}
// ---------------------------- LOGIN / REGISTER ---------------------------- //

.login-h1,
.register-h1,
.chart-h1 {
  //h1 "Login" "Register"
  text-align: center;
}

.login {
  // size of main container
  height: 50%;
  width: 30%;
}

.register {
  // size of main container
  height: 55%;
  width: 30%;
}

.login-form {
  // entire form container
  margin-top: 25px;
  font-family: $text-font;
  margin-left: 25%;
}

.register-form {
  // entire form container
  margin-top: 25px;
  font-family: $text-font;
  margin-left: 20%;
}

.login-tagline,
.register-tagline {
  // "already have an account?"
  &:first-of-type {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  &:last-of-type {
    margin-bottom: 35px;
  }
  font-family: $text-font;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  color: $register-button-color;
}

.login-form-input {
  // length of input boxes in form
  width: 65%;
}

.register-form-input {
  // length of input boxes in form
  width: 75%;
}

// ---------------------------- GRAPHS ---------------------------- //

.pie-chart {
  margin-left: auto;
  margin-right: auto;
  height: 525px;
  width: 525px;
}

.chart-h1 {
  margin-bottom: 25px;
}

.chart-blurb {
  font-family: $text-font;
  font-size: larger;
}

.chart-container {
  height: 70%;
}

.line-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 525px;
  width: 525px;
}

// ---------------------------- BUTTONS ---------------------------- //

.button-div {
  padding-left: 36rem;
  margin-top: 7.5px;
}

.login-button {
  padding-top: 2px;
  background-color: $login-button-color;
  text-decoration: none;
  font-family: $text-font !important;
  color: white;
  border-color: $login-button-color;
  border-width: 2px;
  border-radius: 15px;
  height: 35px;
  &:hover {
    background-color: $register-button-color !important;
    border-color: $register-button-color;
    color: white;
  }
  &:link {
    font-family: $text-font !important;
  }
}

.register-button {
  padding-top: 2px;
  background-color: $register-button-color;
  text-decoration: none;
  font-family: $text-font !important;
  color: white;
  border-color: $register-button-color;
  border-width: 2px;
  border-radius: 15px;
  height: 35px;
  margin-left: 10px;
  &:hover {
    background-color: $login-button-color !important;
    border-color: $login-button-color;
    color: white;
  }
}

.start-button {
  display: inline;
  align-items: center;
  border-radius: 15px;
  margin: 2.5rem;
  font-size: large;
  background-color: #3e98c7;
  font-family: $text-font;
  height: 35px;
}

.reset-button {
  display: inline;
  align-items: center;
  border-radius: 15px;
  margin: 2.5rem;
  font-size: large;
  font-family: $text-font;
  height: 35px;
}

.login-page-button, .register-page-button {
  padding-bottom: 0px;
}

// register button page, get rid of margin
.register-page-button {
  margin-left: 0px;
}

// ---------------------------- EGG ANIMATIONS ---------------------------- //
.egg {
  margin-top: 5rem;
  animation: wiggle 1s linear infinite;
  :after {
    animation: anti-wiggle 1s linear infinite;
  }
}

@keyframes wiggle {
  20% {
    transform: rotate(7deg);
  }

  40% {
    transform: rotate(-14deg);
  }

  60% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }

  40% {
    transform: translateX(-8px) rotate(14deg);
  }

  60% {
    transform: translateX(2px) rotate(-4deg);
  }

  80% {
    transform: translateX(-1px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}